.main {
	position: relative;
	top: 200px;
	transition: transform 0.5s ease;
}

@media screen and (max-width: 767px){
	.main {
		top: 100px;
		margin-bottom: -100px;
	}
}

.side_nav_open .main {
	transform: translateX(-300px);
}