.checklist {
	margin-bottom: 150px;
}

.checklist h1 {
	font-size: 4.5em;
	text-align: center;
	margin-bottom: 25px;
}

@media screen and (max-width: 767px){
	.checklist h1 {
		font-size: 3em;
	}
}

.checklist h2 {
	font-weight: 400;
	margin-bottom: 24px;
	font-size: 1.5em;
	text-align: center;
}

.checklist_intro {
	text-align: center;
}

.checklist_intro h4 {
	font-size: 14px;
}

.checklist h3 {
	margin-bottom: 18px;
}

.checklist ul.top_level {

}

.checklist ul.top_level > li {
	padding-left: 40px;
	background-repeat: no-repeat;
	background-size: auto 18px;
	background-position: center left;
	list-style-type: none;
	position: relative;
}

.checklist ul.top_level > li.with_sublevel {
	background: none;
	position: relative;
}

.checklist ul.top_level > li.with_sublevel::before {
	content: "";
	position: absolute;
	top: 3.5px;
	left: 0;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
}

.checklist ul.top_level > li.with_sublevel.in_progress::before {
	background-image: url('https://telosfoundation.io/resources/images/checklist/gng_list_in-progress.png');
}

.checklist ul.top_level > li.with_sublevel.yes::before {
	background-image: url('https://telosfoundation.io/resources/images/checklist/gng_list_yes.png');
}

.checklist ul.top_level > li.with_sublevel.no::before {
	background-image: url('https://telosfoundation.io/resources/images/checklist/gng_list_no_circle.png');
}

.checklist li.in_progress {
	background-image: url('https://telosfoundation.io/resources/images/checklist/gng_list_in-progress.png');
}

.checklist li.yes {
	background-image: url('https://telosfoundation.io/resources/images/checklist/gng_list_yes.png');
}

.checklist li.no {
	background-image: url('https://telosfoundation.io/resources/images/checklist/gng_list_no_circle.png');
}

.sub_level > li {
	font-size: 1em;
	list-style-type: disc;
}

#checklist_legend {
	padding: 35px 0;
}

.legend_column {
	text-align: center;
}

.legend_column img {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

.checklist .info_links {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
	position:absolute;
	top: -4px;
}

.checklist .info_links li {
	display: inline;
	padding-left: 12px;
	font-size: 1em;
}

.checklist .info_links a {
	color: #625a51;
	transition: opacity 0.25s ease;
}

.checklist .info_links a:active,
.checklist .info_links a:hover,
.checklist .info_links a:focus {
	color: #625a51;
}

.checklist .info_links a:hover {
	opacity: 0.8;
}


.checklist .info_links img {
	width: 12px;
	margin-top: -1px;
}

.checklist .info_links .fa {
	font-size: 14px;
}