.download_page {
	padding-bottom: 150px;
}

.download_page hr {
	border-top: 2px solid #c1b399;
}

.download_intro {
	margin-bottom: 100px;
}

.download_intro h1 {
	font-size: 4.5em;
	text-align: center;
}

@media screen and (max-width: 767px){
	.download_intro h1 {
		font-size: 3em;
	}
}

.download_intro h2 {
	font-size: 1.5em;
	text-align: center;
	font-weight: 400;
}

#download_wallets {
	margin-bottom: 70px;
}

#download_wallets h2,
#download_documents h2 {
	text-align: center;
}

#download_wallets h3 {
	font-size: 1.5em;
	text-align: center;
	font-weight: 400;
	margin-bottom: 75px;
}

@media screen and (max-width: 767px){
	#download_wallets h3 {
		margin-bottom: 75px;
	}
}

#download_wallets > .row {
	padding-top: 50px;
}

#download_wallets .download_buttons {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#download_wallets .download_buttons li {
	flex: 0 0 50%;
	max-width: 50%;
}

#download_wallets .download_buttons li:nth-child(2n + 1) {
	padding-right: 15px;
}

#download_wallets .download_buttons li:nth-child(2n) {
	padding-left: 15px;
}

.download_page #download_wallets .btn-primary {
	background-color: #ed4a2e;
	border-color: transparent;
	transition: background-color 0.15s ease;
	font-size: 1.5em;
	padding: 5px 0;
	border-radius: 12px;
	margin-bottom: 30px;
	width: 100%;
}

.download_page #download_wallets .btn-primary:hover {
	background-color: #872311;
}

.download_page #download_wallets .btn-primary:active,
.download_page #download_wallets .btn-primary:focus {
	outline: transparent;
}

@media screen and (max-width: 767px){
	.download_page #download_wallets .btn-primary {
		font-size: 1.25em;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.download_page #download_wallets .btn-primary {
		font-size: 1.12em;
	}	
}

.download_document_container a {
	color: #f3853e;
	text-decoration: underline;
	font-size: 2em;
	transition: color 0.25s ease;
}

.download_document_container a:hover,
.download_document_container a:active {
	color: #C0520B;
}

.download_document_container a:focus {
	color: #f3853e;
}

.download_document_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.download_document_container img.download_icon {
	width: 125px;
	max-width: 100%;
}

.download_document {
	padding-right: 25px;
	max-width: 80%;
	flex: 0 0 80%;
}

@media screen and (max-width: 500px){
	.download_document {
		max-width: 66.667%;
		flex: 0 0 66.667%;
	}
}

.download_banner_container {

}

.download_banner_container a {
	color: #f3853e;
	text-decoration: underline;
	font-size: 2em;
	transition: color 0.25s ease;
}

.download_banner_container a:hover,
.download_banner_container a:active {
	color: #C0520B;
}

.download_banner_container a:focus {
	color: #f3853e;
}

.download_banner_description h3 {
	color: #f3853e;
	text-decoration: underline;
	font-size: 2em;
	font-weight: 400;
}

.download_banner_container img.download_banner {
	max-width: 100%;
	margin-bottom: 30px;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.download_banner_container img.download_banner {
		margin-bottom: 15px;
	}
}

.download_page .btn-primary {
	background-color: #ed4a2e;
	border-color: transparent;
	transition: background-color 0.15s ease;
	font-size: 2em;
	padding: 5px 8px;
	border-radius: 15px;
}

.download_page .btn-primary:hover {
	background-color: #872311;
}

.download_page .btn-primary:active,
.download_page .btn-primary:focus {
	outline: transparent;
}

.squirrel_content {
	text-align: center;
	/*padding-top: 100px;*/
}

@media screen and (max-width: 767px){
	.squirrel_content {
		/*padding-top: 25px;*/
	}
}

#download_documents .download_document_container {
	padding-bottom: 50px;
}

#download_documents .download_document_container:last-child {
	padding-bottom: 0;
}

#download_documents > .row {
	padding-top: 50px;
}

.banner_modal_img {
	width: 100%;
}

.banner_download_btn.btn-primary {
	background-color: #ed4a2e;
	border-color: transparent;
	transition: background-color 0.15s ease;
	font-size: 2em;
	padding: 5px 8px;
	border-radius: 15px;
}

.banner_download_btn.btn-primary:hover {
	background-color: #872311;
}

.banner_download_btn.btn-primary:active,
.banner_download_btn.btn-primary:focus {
	outline: transparent;
}

.download_banner_modal .modal-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.download_banner_modal .banner_meta {
	padding-right: 25px;
	text-align: left;
}

.download_banner_modal .banner_meta p {
	margin: 0;
	font-size: 1.1em;
}