/* footer */
.main_footer {
	background-size: 100% 100%;
	padding-top: 45px;
	padding-bottom: 25px;
	position: relative;
	top: 200px;
}

@media screen and (min-width: 767px) {
	.main_footer {
		top: 100px;
	}

	.main_footer .col-sm-4:nth-child(1){
		top: 30px;
	}
	.main_footer .col-sm-4:nth-child(2){
		top: 75px;
	}
	.main_footer .col-sm-4:nth-child(3){
		top: 90px;
	}
}

.main_footer .icon {
	max-width: 50px;
	display: block;
	margin: 0 auto;
}

.footer_social {
	padding-top: 35px;
}

.footer_social ul {
	list-style: none;
	padding: 0;
}

.footer_social li {
	display: inline-block;
	margin-right: 25px;
}

.footer_social li:last-child {
	margin-right: 0;
}

.footer_social a {
	font-size: 40px;
	color: #ffffff;
}

@media screen and (max-width: 767px){
	.footer_social {
		padding-top: 0;
		text-align: center;
	}

	.footer_social ul {
		display: inline-block;
	}

	.footer_social a {
		color: #777;
	}
}

.footer_links {
	padding-top: 0;
}

.footer_links::after {
	content: " ";
	display: table;
	clear: both;
}

.footer_links ul {
	list-style: none;
	padding: 0;
	float: right;
}

@media screen and (max-width: 767px){
	.footer_links {
		padding: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer_links ul {
		display: block;
		margin: 0 auto;
	}
}

.footer_links li {
	margin-right: 10px;
	display: inline-block;
}

@media screen and (max-width: 767px){
	.footer_links li {
		margin-right: 0;
		display: block;
	}
}

.footer_links li:last-child {
	margin-right: 0;
}

.footer_links a {
	font-weight: 700;
	color: #777;
}