#front_page_intro {
	padding-bottom: 25px;
}

@media screen and (min-width: 767px){
	#front_page_intro .col-sm-6:first-child {
		padding-right: 45px;
	}
}

#front_page_intro h1 {
	font-size: 3.5em;
	margin-top: 1em;
}

#front_page_icons {
	background: #c2beae;
	padding: 50px 0;
}

#front_page_icons .icons_text {
	text-align: center;
}

#front_page_icons .front_page_icons_img {
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 767px){
	#frong_page_icons .col-sm-4:nth-child(1){
		padding-right: 30px;
	}

	#front_page_icons .col-sm-4:nth-child(2){
		padding-right: 30px;
		padding-left: 30px;
	}

	#front_page_icons .col-sm-4:nth-child(3){
		padding-left: 30px;
	}
}

@media screen and (max-width: 767px){
	.front_page_logo {
		margin-bottom: 50px;
		width: 400px;
		display: block;
		margin: 0 auto;
	}
}

#white_paper {
	padding: 50px 0;
}

#white_paper h1 {
	text-align: center;
}

@media screen and (max-width: 767px){
	#white_paper .white_paper_text {
		margin-bottom: 35px;
	}
}

.front_page_pdf {
	width: 275px;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.white_paper_link {
	text-align: center;
}

.white_paper_link a {
	display: inline-block;
	position: relative;
}

.white_paper_link a::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #c2beae;
	z-index: -1;
	animation: pulse 3s infinite;
}

@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.2;
	}

	to {
		transform: scale(1.25);
		opacity: 0;
	}
}

#partners {
	padding-bottom: 100px;
}

#partners header {
	background: #c2beae;
	padding: 25px 0;
	margin-bottom: 50px;
}

#partners h1 {
	color: #ffffff;
	margin: 0;
}

.partners_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-right: -15px;
	margin-left: -15px;
	direction: ltr;
}

.partner {
	flex: 0 0 25%;
	max-width: 25%;
	padding: 0 45px;
	margin-bottom: 2em;
}

@media screen and (max-width: 991px){
	.partner{
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
}

@media screen and (max-width: 767px){
	.partner {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.partner p {
	text-align: center;
	font-size: 1.5em;
	margin-top: 1em;
}

.partner_logo {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

#exchanges {
	padding-bottom: 50px;
}

#exchanges header {
	background: #c2beae;
	padding: 25px 0;
	margin-bottom: 50px;
}

#exchanges h1 {
	color: #ffffff;
	margin: 0;
	text-align: center;
}

#exchanges .exchange_intro {
	text-align: center;
	padding-bottom: 25px;
}

#exchanges .exchange_buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

#exchanges .exchange_buttons .exchange_button {
	flex: 1 1 25%;
	max-width: 25%;
	padding: 0 25px 50px 25px;
}

@media screen and (max-width: 767px){
	#exchanges .exchange_buttons .exchange_button {
		flex: 1 1 33.33333%;
		max-width: 33.33333%;
		padding: 0 12px 24px 12px;
	}
}

@media screen and (max-width: 500px){
	#exchanges .exchange_buttons .exchange_button {
		flex: 1 1 50%;
		max-width: 50%;
		padding: 0 12px 24px 12px;
	}
}

#exchanges .exchange_buttons a {
	display: inline-block;
}

#exchanges .exchange_buttons img {
	display: inline-block;
	max-width: 100%;
}

#wallets {
	padding-bottom: 25px;
}

#wallets header {
	background: #c2beae;
	padding: 25px 0;
	margin-bottom: 50px;
}

#wallets h1 {
	color: #ffffff;
	margin: 0;
	text-align: center;
}

#wallets .sqrl_wallet {
	text-align: center;
}

#wallets .sqrl_wallet a {
	display: inline-block;
}

#wallets .sqrl_wallet img {
	width: 300px;
	max-width: 100%;
	display: inline-block;
	padding: 10px;
}

#wallets .cs_wallet {
	position: relative;
}

#wallets .cs_wallet::after {
	content: "*";
	font-size: 2.5em;
	color: #c2beae;
	position: absolute;
}

#wallets .cs_wallets::after:hover {
	color: #c2beae;
}

#wallets footer {
	padding-top: 25px;
}

#wallets footer p {
	color: #c2beae;
}

#wallets .wallet_banners {
	text-align: left;
}

@media screen and (max-width: 1199px){
	#wallets .wallet_banners {
		text-align: center;
	}
}