.governance {
	padding-bottom: 150px;
}

.governance h3 {
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 35px;
}

#governance_intro h1 {
	font-size: 4.5em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 35px;
}

@media screen and (max-width: 767px){
	#governance_intro h1 {
		font-size: 3em;
	}
}

#governance_documents header {
	background: #c2beae;
	padding: 25px 0;
	margin-bottom: 25px;
	text-align: center;
}

#governance_documents header h2 {
	margin: 0;
	color: #fff;
}

#governance_documents .document_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

#governance_documents .document_icon_container {
	flex: 0 0 20%;
	max-width: 20%;
}

@media screen and (max-width: 767px){
	#governance_documents .document_icon_container {
		display: none;
	}
}

#governance_documents .document_icon_container img {
	width: 125px;
	max-width: 100%;
}

#governance_documents .document_container .document_info {
	flex: 0 0 80%;
	max-width: 80%;
}

@media screen and (max-width: 767px){
	#governance_documents .document_container .document_info {
		flex: 0 0 100%;
		max-width: 100%;
	}
}


#governance_documents .document_container .document_info a {
	font-size: 1.75em;
	text-decoration: underline;
}

#governance_table h2 {
	margin-bottom: 35px;
}

#governance_table td {
	text-align: center;
	vertical-align: middle;
	color: #625a51;
	border-color: #625a51;
}

#governance_table thead {
	background-color: #625a51;
}

#governance_table th {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: 400;
}

#governance_table td h4 {
	font-size: 1.25em;
	color: #625a51;
}

#governance_table .table_pdf {
	width: 50px;
	max-width: 100%;
}

#governance_table .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #dedcd3;
}

#governance_table tbody tr > td:last-child {
	width: 100px;
}