.navbar-nav > .language_toggle_li_mobile {
	display: none;
}

@media screen and (max-width: 767px) {
	.navbar-nav > .language_toggle_li_mobile {
		display: flex;
	}
}

.navbar-nav > .language_toggle_li_mobile {
	padding: 38px 15px;
	align-items: center;
}

@media screen and (max-width: 767px){
	.navbar-nav > .language_toggle_li_mobile {
		padding: 8px 7px 8px 15px;
	}
}

.language_toggle_flag {
	height: 14px;
}

.language_toggle {
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-right: 10px;
    cursor: pointer;
}

.language_toggle:-ms-expand {
	display: none;
}

@media screen and (min-width: 768px){
	.language_toggle {
		text-align-last: right;
		text-align: right;
	}	
}

.language_toggle:focus {
	outline: transparent;
}

.language_toggle option {
	text-transform: uppercase;
}