.navbar-nav > .language_toggle_li {
	padding: 38px 15px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 768px){
	.navbar-nav > .language_toggle_li {
		padding: 8px 7px;
	}
}

.language_toggle_flag {
	height: 14px;
}

.language_toggle {
	border: none;
	background-color: transparent;
	text-align-last: right;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-right: 10px;
    cursor: pointer;
}

.language_toggle:-ms-expand {
	display: none;
}

.language_toggle:focus {
	outline: transparent;
}

.language_toggle option {
	text-transform: uppercase;
}