.navbar-default.navbar {
	background: transparent;
	background-image: none;
	border-bottom: none;
	border-top: none;
}

@media screen and (min-width: 768px){
	.navbar-nav {
		display: flex;
		align-items: center;
	}
}

.navbar-brand {
	height: auto;
}

.logo {
	width: 200px;
	position: relative;

}

@media screen and (min-width: 992px){
	.navbar-nav > li > a {
		padding: 40px 15px;
	}
}

@media screen and (max-width: 800px){
	.navbar-nav > li > a {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media screen and (max-width: 767px){
	.navbar-nav > li > a {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.navbar-toggle {
	position: relative;
	top: 15px;
}

@media screen and (min-width: 768px){
	.navbar-nav > li.rewards_nav_item > a {
		padding: 10px 15px;
		color: #fff;
		background-color: #8F8B7B;
		border-radius: 4px;
		box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.2);
		transition: background-color 0.25s ease;
	}

	.navbar-nav > li.rewards_nav_item > a:hover,
	.navbar-nav > li.rewards_nav_item > a:active {
		color: #fff;
		background-color: #5C5848;
	}
	.navbar-nav > li.rewards_nav_item > a:focus {
		color: #fff;
		background-color: #8F8B7B;
	}
}

@media screen and (max-width: 767px){
	.navbar {
		margin-bottom: 0;
	}
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
	border-top: 0;
}

.hamburger {
	position: relative;
	top: 3px;
	transform: scale(0.65);
}

.hamburger:focus {
	outline: transparent;
}

@media screen and (max-width: 767px){
	.hamburger {
		display: none;
	}
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background-color: #635a51;
}

@media screen and (min-width: 768px){
	.navbar-nav>li.side_nav_item_mobile {
		display: none;
	}
}

.navbar-collapse {
  max-height: 280px;
  overflow-y: auto;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	border-color: transparent !important;
	margin-top: 15px;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

.navbar-default .navbar-toggle.collapsed {
	background-color: rgba(150, 150, 150, 0.15);
}

.navbar-default .navbar-toggle .icon-bar {
	width: 22px;
	transition: transform 0.3s ease, background-color 0.3s ease;
	background-color: #30271E;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
	background-color: #635a51;
}

.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(2) {
	transform: translate3d(0,0,0) rotate(0deg);
	width: 22px;
}

.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(3) {
	transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(4) {
	transform: translate3d(0,0,0) rotate(0deg);
	width: 22px;
}

.navbar-default .navbar-toggle .icon-bar:nth-child(2) {
	transform: translate3d(0px,6px,0) rotate(45deg);
	transform-origin: left top;
	width: 11px;
}

.navbar-default .navbar-toggle .icon-bar:nth-child(4) {
	transform: translate3d(0px,-6px,0) rotate(-45deg);
	transform-origin: left bottom;
	width: 11px;
}

@media screen and (min-width: 768px){
	.dropdown .dropdown-menu {
		top: 75px;
	}
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
}