.navbar-default.navbar {
	background: transparent;
	background-image: none;
	border-bottom: none;
	border-top: none;
}

.navbar-brand {
	height: auto;
}

.logo {
	width: 200px;
	position: relative;

}

@media screen and (min-width: 768px){
	.navbar-nav > li > a {
		padding: 40px 15px;
	}
}

.navbar-toggle {
	position: relative;
	top: 15px;
}