.navbar-default.navbar {
	background: transparent;
	background-image: none;
	border-bottom: none;
	border-top: none;
}

@media screen and (min-width: 768px){
	.navbar-nav {
		display: flex;
		align-items: center;
	}
}

.navbar-brand {
	height: auto;
}

.logo {
	width: 200px;
	position: relative;

}

@media screen and (min-width: 992px){
	.navbar-nav > li > a {
		padding: 40px 15px;
	}
}

@media screen and (max-width: 800px){
	.navbar-nav > li > a {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media screen and (max-width: 767px){
	.navbar-nav > li > a {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.navbar-toggle {
	position: relative;
	top: 15px;
}

@media screen and (min-width: 768px){
	.navbar-nav > li.rewards_nav_item > a {
		padding: 10px 15px;
		color: #fff;
		background-color: #8F8B7B;
		border-radius: 4px;
		box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.2);
		transition: background-color 0.25s ease;
	}

	.navbar-nav > li.rewards_nav_item > a:hover,
	.navbar-nav > li.rewards_nav_item > a:active {
		color: #fff;
		background-color: #5C5848;
	}
	.navbar-nav > li.rewards_nav_item > a:focus {
		color: #fff;
		background-color: #8F8B7B;
	}
}

@media screen and (max-width: 767px){
	.navbar {
		margin-bottom: 0;
	}
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
	border-top: 0;
}

.hamburger {
	position: relative;
	top: 3px;
	transform: scale(0.65);
}

.hamburger:focus {
	outline: transparent;
}

@media screen and (max-width: 767px){
	.hamburger {
		display: none;
	}
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background-color: #635a51;
}

@media screen and (min-width: 768px){
	.navbar-nav>li.side_nav_item_mobile {
		display: none;
	}
}

.navbar-collapse {
  max-height: 280px;
  overflow-y: auto;
}