.privacy_policy a {
	font-size: 1em;
}

.privacy_policy a {
	color: #f3853e;
	text-decoration: none;
	font-size: 1em;
	transition: color 0.25s ease;
}

.privacy_policy a:hover,
.privacy_policy a:active {
	color: #C0520B;
	text-decoration: underline;
}

.privacy_policy a:focus {
	color: #f3853e;
}