.side_nav {
	width: 300px;
	background: #333;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	transform: translateX(300px);
	transition: transform 0.5s ease;
	z-index: 1;
	min-height: 525px;
}

.side_nav_open .side_nav {
	transform: translateX(0);
}

.side_nav ul {
	list-style: none;
}

.side_nav li > a {
	color: #fff;
	transition: color 0.25s ease;
}

.side_nav li > a:hover,
.side_nav li > a:active {
	color: #ed4a2e;
	text-decoration: none;
}
.side_nav li > a:focus {
	color: #fff;
	text-decoration: none;
}

.side_nav header {
	padding: 40px;
}

.side_nav footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 40px 40px 40px;
}

.side_nav footer img {
	max-width: 100%;
}