body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #615a53;
}

p {
  margin-bottom: 1.3em;
}

a,p, select, option, li, td, th {
  font-size: 1.2em;
}

a {
  color: #f3853e;
  text-decoration: none;
  transition: color 0.25s ease;
}

a:hover,
a:active {
  color: #C0520B;
  text-decoration: underline;
}

a:focus {
  color: #f3853e;
}

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
  color: #635a51;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.modal_toggle {
  color: #f3853e;
  transition: color 0.25s ease;
  cursor: pointer;
}

.modal_toggle:hover,
.modal_toggle:active {
  color: #C0520B;
  text-decoration: underline;
}

.modal_toggle:focus {
  color: #f3853e;
}

/** animations **/

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn;
}