$white: #ffffff;
$black: #000000;

$dark_red: #960b14;


$orange: #f9af39;
$dark_orange: #f9a73b;
$orange_gradient: linear-gradient(to right, rgba(249,175,57,0.5) 0%,rgba(249,175,57,0.1) 40%,rgba(249,175,57,0.1) 60%,rgba(249,175,57,0.5) 100%);